@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200;1,400&display=swap');
*{
  font-family: 'Raleway';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo_header{
  width: 50%;
}

header{
  display: flex;
  height: 30px;
  background: #2778AF;
  padding: 20px;
  color: white;
  width: 100%;
  align-items: center;
}

header h4{
  margin: auto 30px;
}

header div{
  display: flex;
  margin: 0;
}

header a{
  outline: none;
  text-decoration: none;
  margin: auto 10px;
  color: whitesmoke;
}

header svg{
  margin: auto 5px;
}

.buscar{
  border: none;
  border-radius: 30px;
  text-align: right;
  padding-right: 15px;
  outline: none;
}

.links_der{
  width: 80%;
  float: right;
  justify-content: flex-end;
  padding-right: 10%;
}

@media screen and (max-width:665px){
  .links_der{
    display: none;
  }
}

.card_principal{
  width: 80%;
  margin: 30px auto;
  background: white;
  padding: 50px;
}

.grupo_form{
  text-align: center;
}

.main_input{
  width: 50%;
  border: 1px solid grey;
  outline: none;
  transition: all 0.1s ease;
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
}

.text_area{
  max-width: 100%;
  max-height: 300px;
  min-height: 100px;
  min-width: 100px;
}

.main_input:focus, .main_input:hover{
  border: 1px solid #2778AF;
}

