.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #61dafb;
    border-radius: 10px;
    padding: 30px;
}

.card p{
    height: 100px;
    overflow: hidden;
}

button {
    border: 1px solid #2778AF;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    color: white;
    background: #2778AF;
    transition: all 0.25s ease;
}

.boton-card{
    text-align: start;
}

button:hover{
    background: white;
    border: 1px solid #2778AF;
    color: #2778AF;
}

button:active{
    transform: scale3d(0.95, 0.95, 1);
}