.recientes{
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 50px;
}

.titulo{
    /* margin-top: 50px; */
}

.recientes .obras{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
